@font-face {
    font-family: 'Yefimov-light';
    src: local('YFS45'), url('../fonts/YFS45.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Yefimov-bold';
    src: local('YFS75'), url('../fonts/YFS75.otf');
    font-style: normal;
    font-weight: 400;
}