// =Reset
//-------------

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body,
div,
span,
iframe,
p,
a,
img,
    //q,
s,
small,
strong,
    //sub,
sup,
b,
    //u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
nav,
section,
time,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
}

img{
    vertical-align: top;
    max-width: 100%;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a:active,
a:hover {
    outline: 0;
}

button,
input {
    line-height: normal;

    &:focus{
        outline: 0;
    }
}

input[type="password"]::-ms-reveal {
    width : 0;
    height: 0;
}

input[type="text"]::-ms-clear {
    width: 1.5em;
    height: auto;
    color: #959595;
}

button,
select {
    text-transform: none;
}

///* Structure tags */
article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section{
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

///* To prevent some browsers from inserting quotes on q and p */
//blockquote, q {
//	quotes: none;
//}


///* Table reset */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}

//thead th,
//thead td {
//	font-weight: bold;
//	vertical-align: bottom;
//}

///* Image inside */
a img,
th img,
td img {
    vertical-align: top;
}

///* Webkit browsers reset margin  and normalize font-size for form element */
button,
input,
select,
textarea {
    margin: 0;
    font-size : 100%;
    border-radius: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

///* Normalize buttons in IE */
button {
    width: auto;
    overflow: visible;
}

///* Hand cursor on clickable controls */
input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
}

///* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"]
{
    font-size: 110%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

///* Normalize search fields and ather fields for ios */
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="email"],
textarea{
    //    -moz-appearance:    textfield;
    //    -webkit-appearance: textfield;
    //    appearance: textfield;
    //@include box-sizing(content-box);

    -moz-appearance:    none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

sup{
    position : relative;
    top: -5px;
    font-size: smaller;
}