.mobile-menu{
    width: 70%;
    height: calc(100% - 76px);
    background-color: rgba(0,0,0,.95);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 76px;
    left: 0;
    z-index: 101;
    text-align: center;
    transform: translateX(-100%);
    transition: transform ease .3s;
    box-sizing: border-box;

    &.is-open{
        transform: translateX(0);
    }

    & a {
        font-size: .875rem;
        line-height: 46px;
        text-decoration: none;
        text-align: left;
        color: $white;
        padding-left: 20px;
        border-bottom: 1px solid #333333;
    }
}

.mobile-btn {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 32px;
    height: 24px;
    transform: rotate(0deg);
    cursor: pointer;
    display: none;

    @include respondTo(mobile){
        display: block;
    }
}

.mobile-btn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: $white;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.mobile-btn span:nth-child(even) {
    left: 50%;
    border-radius: 0 3px 3px 0;
}

.mobile-btn span:nth-child(odd) {
    left:0;
    border-radius: 3px 0 0 3px;
}

.mobile-btn span:nth-child(1), .mobile-btn span:nth-child(2) {
    top: 0;
}

.mobile-btn span:nth-child(3), .mobile-btn span:nth-child(4) {
    top: 9px;
}

.mobile-btn span:nth-child(5), .mobile-btn span:nth-child(6) {
    top: 18px;
}

.mobile-btn.open span:nth-child(1),.mobile-btn.open span:nth-child(6) {
    transform: rotate(45deg);
}

.mobile-btn.open span:nth-child(2),.mobile-btn.open span:nth-child(5) {
    transform: rotate(-45deg);
}

.mobile-btn.open span:nth-child(1) {
    left: 2px;
    top: 3px;
}

.mobile-btn.open span:nth-child(2) {
    left: calc(50% - 2px);
    top: 3px;
}

.mobile-btn.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.mobile-btn.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.mobile-btn.open span:nth-child(5) {
    left: 2px;
    top: 14px;
}

.mobile-btn.open span:nth-child(6) {
    left: calc(50% - 2px);
    top: 14px;
}

.mobile-btn.open{
    position: fixed;
    z-index: 110;
    top: 25px;
}