html, body{
    font-size: 16px;
    font-family: $yefimov-light;
    overflow-x: hidden;
}

.fade{
    background-color: rgba(0,0,0,.71);
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 100%;
    left: 0;
    top: 0;
}
//typo
a{
    outline: none !important;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

.par{
    color: #404447;
    line-height: 1.5;
    margin-top: 1.3em;

    @include respondTo(small){
        font-size: .875rem;
    }

    &_sec{
        color: #8b8f94;
        font-size: 1.125rem;
    }
}

//layout
.container{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 20px;
    box-sizing: border-box;

    @include respondTo(tablet){
        max-width: 768px;
    }
}

.flex-row{
    display: flex;
    justify-content: space-between;

    @include respondTo(small-wide){
        flex-direction: column;
    }

    &_2col{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.section-title{
    font-family: $yefimov-bold;
    //font-size: 2.25rem;
    line-height: 3rem;
    color: $main-color;
    margin: 0 0 1em 0;
    z-index: 10;
    position: relative;

    @include fluid-type(font-size, 320px, 1920px, 24px, 36px);

    @include respondTo(tablet){
        line-height: 1.33;
    }
}

//section
.about{
    padding: 90px 0 105px;
    background-color: #ececeb;
    background-image: linear-gradient(184deg, rgb(255,255,255) 0%, rgb(236,236,235) 87%);
    position: relative;

    @include respondTo(mobile){
        padding: 36px 0 46px;
    }

    &:before{
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        height: 807px;
        width: 995px;
        background: url('../img/bg-about.png') no-repeat scroll transparent 0 0 / 100% 100%;
        left: 48.2%;
        //right: 0;
        z-index: 1;

        @media screen and (min-width: 1920px) {
            right: 0;
            left: auto;
        }

        @include respondTo(tablet){
            background-size: 80%;
        }

        @include respondTo(mobile){
            display: none;
        }
    }
}

.proud{
    background-color: $white;
    padding: 90px 0 0;

    @include respondTo(mobile){
        padding: 36px 0 60px;
    }

    & .section-title{
        margin-bottom: 1.3em;
    }
}

.offer{
    background: #fff url('../img/bg-offer.png') no-repeat scroll 50% 50% / cover;
    padding: 90px 0 105px;
    
    @include respondTo(mobile){
        background: linear-gradient(to top, #ffffff 0%, #ececeb 87%);
        padding: 36px 0 40px;
    }

    &__wrap{
        padding-left: 50%;

        @include respondTo(tablet){
            padding-left: 30%;

            & .list{
                width: 92%;
            }
        }

        @include respondTo(mobile){
            padding-left: 0;
        }
    }
}

.main-products{
    background-color: $white;
    padding: 90px 0 55px;
    position: relative;
    overflow: hidden;

    @include respondTo(mobile){
        padding: 36px 0 0;
    }

    &:before{
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        height: 100%;
        width: 1081px;
        background: url('../img/bg-products.png') no-repeat scroll transparent 0 0 / 100% 100%;
        left: 43.5%;
        z-index: 1;

        @media screen and (min-width: 1920px){
            right: 0;
            left: auto;
        }

        @media screen and (max-width: 1340px){
            right: -24%;
            left: auto;
        }

        @media screen and (max-width: 1080px){
            right: -38%;
            //right: auto;
        }

        @include respondTo(tablet){
            right: -48%;
        }

        @include respondTo(mobile){
            display: none;
        }
    }

    & .section-title{
        margin-bottom: .55em;
    }
}

.responsible{
    background-color: $white;
    background-image: linear-gradient(to top, rgb(225,225,225) 0%, rgb(236,236,235) 87%);
    padding: 80px 0;
    position: relative;

    @include respondTo(mobile){
        padding: 36px 0 46px;
    }

    &:before{
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        height: 100%;
        width: 892px;
        background: url('../img/bg-responsible.png') no-repeat scroll transparent 0 0 / 100% 100%;
        right: 50%;

        @include respondTo(tablet){
            right: 62%;
        }

        @include respondTo(mobile){
            display: none;
        }
    }

    &__wrap{
        padding-left: 50%;

        @include respondTo(tablet){
            padding-left: 30%;
        }

        @include respondTo(mobile){
            padding-left: 0;
        }
    }

    & .section-title{
        margin-bottom: .5em;
    }
}

.contact{
    background-color: $white;
    padding: 110px 0;

    @include respondTo(mobile){
        padding: 36px 0;
    }

    &__item{
        width: 50%;
        box-sizing: border-box;
        padding-left: 45px;
        position: relative;
        font-size: 1.125rem;
        color: $main-color;
        line-height: 26px;

        @include respondTo(mobile){
            width: 100%;
            margin-bottom: 1.5rem;
        }

        &:last-of-type{
            margin-left: 35px;
            width: calc(50% - 35px);

            @include respondTo(tablet){
                margin-left: 0;
                width: 50%;
            }

            @include respondTo(mobile){
                margin-bottom: 0;
                width: 100%;
            }
        }

        & a{
            font-family: $yefimov-bold;
            text-decoration: none;
            color: $main-color;
            transition: opacity ease-out .3s;
            white-space: nowrap;

            &:hover{
                opacity: .8;
            }
        }

        &_phone{
            background: url('../img/ico-phone.svg') no-repeat scroll 0 50%;
        }

        &_email{
            background: url('../img/ico-email.svg') no-repeat scroll 0 50%;
        }
    }

    &__icon{
        position: absolute;
        left: 0;
        top: 0;
    }
}

.footer{
    background-color: $main-color;
    padding: 50px 0 55px;
    color: rgba(255, 255, 255, .67);

    @include respondTo(mobile){
        padding: 36px 0;
    }

    &__title{
        //text-decoration: underline;
        font-size: 1.125rem;
        line-height: 1.1;

        @include respondTo(small){
            font-size: .875rem;
        }
    }

    &__txt{
        font-size: .75rem;
        line-height: 1.66;

        @include respondTo(small){
            font-size: 11px;
        }
    }

}

//ui
.list{
    list-style: none;
    padding: 0;
    margin: 0;

    & li{
        position: relative;
        padding: 5px 0 1em 3em;
        color: #404447;
        line-height: 1.33;

        @include fluid-type(font-size, 320px, 1920px, 14px, 18px);

        &:last-of-type{
            padding-bottom: 0;
        }

        &:after{
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $action-color;
            left: 11px;
            top: 11px;
        }

        &:before{
            position: absolute;
            content: '';
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: rgba(186, 188, 22, .1);
            left: 0;
            top: 0;
            animation: scale-list 3s ease-in-out infinite;
        }
    }
}

//animation
@keyframes scale-list {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.35);
    }
    100% {
        transform: scale(1);
    }
}