.ico-box{
    width: 28%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #abad23;
    z-index: 100;

    @include respondTo(mobile){
        width: 30%;
    }

    @include respondTo(small-wide){
        width: 100%;
        max-width: 300px;
        margin-bottom: 1.75rem;
    }

    &:last-of-type{

        @include respondTo(small-wide){
            margin-bottom: 0;
        }
    }

    &__icon{
        margin: 0 auto;
        background-color: $action-color;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__txt{
        color: #404447;
        font-size: 1.125rem;
        line-height: 1.33;
        padding: 1.5em 0 2em;
        margin: 0;

        @include respondTo(tablet){
            font-size: 1rem;
        }

        @include respondTo(small-wide){
            padding: 1em 0;
        }

        @include respondTo(small){
            font-size: .875rem;
        }
    }

    //use in .ico-box_half
    &__title{
        font-family: $yefimov-bold;
        font-size: 1.125rem;
        color: #63666a;
        border-bottom: 1px solid #abad23;
        margin: 0;
        padding: 1em 0;

        @include respondTo(tablet){
            font-size: 1rem;
        }

        @include respondTo(small){
            font-size: .875rem;
        }
    }

    &_half{
        width: 40%;
        border-bottom: none;
        margin: 0 10% 2.65rem 0;

        @include respondTo(tablet){
            margin-right: 1rem;
        }

        @include respondTo(mobile){
            width: 47%;
            margin-right: 3%;
        }

        & .ico-box__icon{
            margin: 0;
        }

        & .ico-box__txt{
            padding: .75rem 0 0;
        }

        &:last-of-type{

            @include respondTo(small-wide){
                margin-bottom: 2.5rem;
            }
        }
    }
}