.header{
    padding-top: 40px;
    display: flex;

    @include respondTo(mobile){
        padding: 20px;
        background-color: $main-color;
        height: 76px;
        box-sizing: border-box;
        justify-content: space-between;
        position: fixed;
        top:0;
        width: 100%;
        z-index: 101;
    }

    &__logo{
        padding-top: 6px;
        width: 200px;
        background: url('../img/logo.svg') no-repeat / contain;

        @include respondTo(mobile){
            padding-top: 0;
            background: url('../img/logo-white.svg') no-repeat 50% 50% / contain;
            flex-grow: 1;
        }
    }

    &__nav{
        margin-left: 70px;
        flex-grow: 1;

        @include respondTo(tablet){
            margin-left: 45px;
        }

        @include respondTo(mobile){
            display: none;
        }

        & a{
            text-decoration: none;
            color: #404447;
            font-size: 1.125em;
            line-height: 3rem;
            margin-right: 40px;
            position: relative;
            overflow: hidden;
            display: inline-block;

            @include respondTo(tablet){
                margin-right: 20px;
                font-size: 1rem;
            }


            &:before{
                content: '';
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #abad23;
                transform: translateX(-100%);
                transition: transform ease-out .2s;
            }

            &:hover{

                &:before{
                    transform: translateX(0);
                }
            }

            &:last-of-type{
                margin-right: 0;
            }
        }
    }

    &__lang{
        color: #404447;
        font-size: 1.125rem;
        line-height: 3rem;

        @include respondTo(tablet){
            font-size: 1rem;
        }

        @include respondTo(mobile){
            line-height: 2.5rem;
            color: $white;
            font-size: .75rem;
            position: absolute;
            right: 20px;
            top: 16px;
        }
    }
}

.lang-link{
    text-decoration: none;
    color: #404447;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 3rem;
    margin: 0 5px;
    display: inline-block;

    @include respondTo(tablet){
        font-size: 1rem;
    }

    @include respondTo(mobile){
        line-height: 2.5rem;
        color: $white;
        font-size: .75rem;
    }

    &:last-of-type{
        margin: 0;
    }

    &.current{
        position: relative;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 5px;
            width: 100%;
            height: 2px;
            background-color: #abad23;
        }
    }
}