.hero{
    background: url('../img/hero-bg.jpg') no-repeat scroll transparent 50% 50% / cover;
    height: 539px;
    box-sizing: border-box;

    @media screen and (min-width: 1920px) {
        height: 0;
        padding-bottom: 28%;
    }

    @include respondTo(mobile){
        height: 386px;
        padding-bottom: 40px;
        background-position: 60% 76px;
    }


    &__title{
        color: $white;
        font-family: $yefimov-bold;
        line-height: 1.33;
        margin-top: 110px;

        @include fluid-type(font-size, 320px, $tablet, 24px, 36px);

        @include respondTo(mobile){
            padding: 90px 20px 0;
            color: $main-color;
            margin-top: 0;
        }
    }

    & .container{
        @include respondTo(mobile){
            padding: 0;
        }
    }
}