@import "assets/reset";
@import "assets/media-mixin";
@import "assets/typo-mixin";
@import "assets/fonts";

@import "inc/var";
@import "inc/hero";
@import "inc/header";


@import "assets/mobile-menu";

html, body{
    font-size: 16px;
    font-family: $yefimov-light;
    overflow-x: hidden;
}

.fade{
    background-color: rgba(0,0,0,.71);
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 100%;
    left: 0;
    top: 0;
}
//typo
a{
    outline: none !important;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

//layout
.container{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 20px;
    box-sizing: border-box;

    @include respondTo(tablet){
        max-width: 768px;
    }
}

.flex-row{
    display: flex;
    justify-content: space-between;

    @include respondTo(small-wide){
        flex-direction: column;
    }

    &_2col{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}